.content {
    opacity: 0.5;
    color: #fff;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 34px;
    max-width: 600px;
    font-family: 'Parisian';

    &--italic {
        font-style: italic;
    }

    &--dark {
        color: #2b3948;
        opacity: 0.7;
    }
}