.container {

    &--hero {
        height: 100vh;
        min-height: 650px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 400px;
    }
}