.content {
    opacity: 0.5;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    max-width: 600px;

    &--italic {
        font-style: italic;
        font-weight: 500;
    }

    &--dark {
        color: #2b3948;
        opacity: 0.7;
    }
}