.copyright {
    opacity: 0.1;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
    margin-top: 10px;

    @include tablets() {
        width: 100%;
    }
}