.feedback {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;


    &__content {
        display: inline-block;
        width: 350px;
    }

    &__article {
        margin-bottom: 30px;
    }
}
.quotes {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;

    &__icon {
        width: 75px;
        height: 63px;
        fill: #ffffff;
        opacity: 0.05;
    }
}