.nav {
    width: 690px;

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
    }
    &__link {
        color: #fff;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
    }
}