.nav {
    width: 690px;

    &__list {
        width: 100%;
        text-align: left;
    }
    &__item {
        display: inline-block;
        margin: 0 0 10px 50px;
    }
    &__link {
        color: #fff;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
    }
}