.quote {
    &__article {
        opacity: 0.3;
        color: #fff;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &__name {
        color: #fff;
        font-style: italic;
        line-height: 30px;
    }
}