.scroll {
    &__title {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        display: inline-block;
        vertical-align: top;
    }

    &__icon {
        display: inline-block;
        width: 30px;
        .arrow-down {
            height: 30px;
            fill: #ffffff;
        }
    }

    @include phones() {
        display: none;
    }
}