.tags {
    padding-bottom: 40px;

    &__list {
        display: inline-block;
    }

    &__item {
        border-radius: 23px;
        background-color: rgba(122, 160, 197, .1);
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 12px 20px;
        color: rgba(40, 51, 64, .7);
        font-size: 15px;
        font-weight: 600;
    }
}