.user {

    &__pic {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 70px;
    }
}
.user-info {
    margin-bottom: 5px;
    &__title {
        opacity: 0.15;
        color: #fff;
        font-weight: 600;
        line-height: 30px;
        min-width: 170px;
        display: inline-block;
    }
    &__data {
        color: #fff;
        font-weight: 600;
        line-height: 30px;
        display: inline-block;
    }
}