include ./components/skills.pug
include ./components/works.pug
include ./components/navigation.pug
include ./components/message.pug
include ./components/feedbacks.pug
include ./components/parallax.pug
include ./components/bottom-bg.pug
include ./components/footer.pug