.about {
    background: url("../images/bg/bg_about.jpg") top center no-repeat;
    background-size: cover;
    width: 100vw;

    &__left {
        display: inline-block;
        min-width: 350px;
        text-align: left;
    }
    &__right {
        display: inline-block;
        max-width: 600px;
        text-align: left;
    }
    &__content {
        margin-bottom: 90px;
    }

}

