.contact {
    z-index: 50;
    
    .button-block {
        display: block;
        margin-top: 50px;
    }
    
    .title {
        @include phones() {
            text-align: center;
        }
    }
        
}