.skills {
    padding: 65px 160px;
    background: url("../images/bg/bg_skills.jpg") top center no-repeat;
    background-size: cover;
    width: 100vw;

    &__content {
        padding-bottom: 80px;
    }
    /* &__list {
        display: block;
    } */
}