.wrapper-bottom {
    background: url(../images/bg/bg_bottom.jpg) #ccc top center no-repeat;
    background-size: cover;
    text-align: left;
    padding-top: 140px;
    padding-bottom: 200px;
    display: flex;
    align-items: flex-start;
    position: relative;

    &_leaf {
        position: absolute;
        top: -160px;
        right: -215px;
        width: 616px;
        height: 442px;

        @include desktop() {
            right: -400px;
        }
    }
}