script(type="text/x-template")#bottom-wrapper-parallax
    .wrapper-bottom
        parallax(:speedFactor="10" direction="down" sectionClass="wrapper-bottom__parallax")
            +image('bg/bg_bottom.jpg', 'bottom-bg')