script(type="text/x-template")#footer-block
    .container.container__footer
        .footer__left
            .copyright  &copy; 2019
            .hero-title.footer__hero-title
                .hero-title__name.footer__hero-name Sergei Dmitrijev
                .hero-title__info.footer__hero-info Personal developer website
        .footer__right
            .footer__menu
                nav.footer__nav
                    ul.footer__nav__list()
                        li.footer__nav__item(v-for="item in items")  
                            a.footer__nav__link(v-scroll-to="item.link") {{item.name}}
            .footer__bottom
                .footer__info
                    .content.footer__about This site is a part of the training
                    .socials
                        ul.socials__list
                            li.socials__item.socials__item--circle(v-for="social in socials" :key="social.id")
                                a(:href="social.link" target="_blank").socials__link.socials__link--circle
                                    i(class="fab socials__icon" :class="`fa-${social.name}`")
                .quote.footer__quote
                    article.quote__article Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live
                    .quote__name Martin Golding
    