script(type="text/x-template")#navigation-block
    nav.nav#navigation
        ul.nav__list
            li.nav__item
                a.nav__link(href='#') Главная
            li.nav__item
                a.nav__link(href='#') Обо мне
            li.nav__item
                a.nav__link(href='#') Навыки
            li.nav__item.nav__item_active
                a.nav__link(href='#') Работы
            li.nav__item
                a.nav__link(href='#') Отзывы
            li.nav__item
                a.nav__link(href='#') Связаться

script(type="text/x-template")#nav-button