script(type="text/x-template")#parallax-block
    .parallax(direction="up")
        parallax(:speedFactor="0.05")
            +image('parallax/layer-01.png', 'parallax__image')
        parallax(:speedFactor="0.1")
            +image('parallax/layer-02.png', 'parallax__image')
        parallax(:speedFactor="0.15")
            .hero-name
                h1.hero-title.hero-title--parallax
                    .hero-title__info Личный сайт веб разработчика
                    .hero-title__name Сергей Дмитриев
        parallax(:speedFactor="0.2")
            +image('parallax/layer-03.png', 'parallax__image')
        parallax(:speedFactor="0.3")
            +image('parallax/layer-04.png', 'parallax__image')