script(type="text/x-template")#skills-block
    .skills-container
        .skills-block(v-for="skill in skills" :key="skill.category")
            skills-row(
                :skill="skill"
            )

script(type="text/x-template")#skills-row
    .skills-row
        h3.title.title--small {{skill.skillsGroup}}
        ul.skills-list
            li.skills-list__item(v-for="(skillPercents, skillName) in skill.skills")
                skill(
                    :skillName="skillName"
                    :skillPercents = "skillPercents"
                )

script(type="text/x-template")#skill
    .skills-list__skill
        svg(width="126" height="126" preserveAspectRatio="none").skills-list__level
            linearGradient(id="orange" x1="0%" y1="0%" x2="100%" y2="0%")
                stop(offset="0%" stop-color="#ed7400")
                stop(offset="100%" stop-color="#f29400")

            
            circle(r="60" cx="63" cy="63").skills-list__circle.skills-list__circle--under
            circle(r="59" cx="63" cy="63" ref="color-circle" stroke="url(#orange)").skills-list__circle.skills-list__circle--above
        .skills-list__name {{skillName}}