script(type="text/x-template")#slider-component
    .container.container__works
        display(
            :works="works",
            :currentWork="currentWork",
            :currentIndex="currentIndex",
            @slide="handleSlide",
            @select="selectWork"
        )
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider-display
    .works__left
        .preview(:data-slide="currentWork.id")
            img(:src="currentWork.photo").preview__image
            thumbs(
                :works="works",
                :currentWork="currentWork",
                @select="workId => $emit('select', workId)"
                @slide="direction => $emit('slide', direction)"
            )

script(type="text/x-template")#slider-thumbs
    .slider-thumbs
        .preview__slider
            flickity(ref="flickity" :options="flickityOptions")
                .preview__thumb(
                    v-for="work in works" :key="work.id"
                    :class="{preview__thumb_active: currentWork.id === work.id}"
                    @click.prevent="$emit('select', work.id)"
                )
                    a.preview__thumb-link
                        img(:src="work.photo").preview__small-image
        .preview__buttons
            button(@click.prevent="$emit('slide', 'prev')" @click="previous()").button
                +icon('arrow-right', 'button__arrow')
            button(@click.prevent="$emit('slide', 'next')" @click="next()").button
                +icon('arrow-right', 'button__arrow button__arrow--left')


script(type="text/x-template")#slider-info
    .works__right
        tags(
           :tagsArray="tagsArray" 
        )
        .works__description
            h3.title.title--dark {{currentWork.title}}
            .content.content--dark
                p {{currentWork.desc}}
            a(:href="currentWork.link").link
                +icon('link', 'link__icon')
                span Посмотреть сайт

script(type="text/x-template")#slider-tags
    .tags
        .tags__list(v-for="tag in tagsArray")
            .tags__item {{tag}}