section.about
    .about__left
        .user
            +image('content/user.jpg', 'user__pic')
            table.user-info
                tr
                    th.user-info__title Проживаю:
                    td.user-info__data Таллинн
                tr
                    th.user-info__title Возраст:
                    td.user-info__data 27
                tr
                    th.user-info__title Родился:
                    td.user-info__data 14 ноября 1991

    .about__right
        .user-about
            .user-about__greeting Привет, меня зовут
            .user-about__name Сергей Дмитриев
            .user-about__content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus atque adipisci velit necessitatibus dolorem corporis vero neque impedit non amet!
            .user-about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe corrupti, fuga dignissimos at officia non tempora similique esse repudiandae numquam.
                