section.about
    .about__left
        +image('content/user.jpg', 'user__pic')
        .user-data
            .container

                ul.user-data__list
                    li.user-data__item
                        .user-data__item_title Проживаю:
                        .user-data__item_field Таллинн
                    li.user-data__item
                        .user-data__item_title Возраст:
                        .user-data__item_field 27
                    li.user-data__item
                        .user-data__item_title Родился:
                        .user-data__item_field 14 ноября 1991
    .about__right
        .user-about
            .user-about__greeting
            .user-about__name
            .user-about__content
                p   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus atque adipisci velit necessitatibus dolorem corporis vero neque impedit non amet!
                p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe corrupti, fuga dignissimos at officia non tempora similique esse repudiandae numquam.
                