section.contact
    h2.title.title--big Связаться со мной

    form.form
        .form-data
            .form__field.user__name
                .form__left  
                    +icon('user', 'contact__user_icon')
                .form__right
                    label.form__field Ваше имя
                    input(type="text" name="name").form__input
            .form__field.user__email
                .form__left 
                    +icon('envelope', 'contact__user_icon')
                .form__right
                    label.form__field Введите выш email
                    input(type="text" name="email").form__input
        .form__field.message
            .form__left.form_left--message
                +icon('message', 'contact__user_icon')
            .form__right
                label.form__field Сообщение к письму
                textarea(name="message").form__input
        .button-block
            input(type="submit" value="Отправить").button.button--send

