section.contact
    h2.contact__title Связаться со мной

    form.contact__form
        .contact__user
            .contact__user_name.contact__form__field
                .contact__form_left  
                    +icon('user', 'contact__user_icon')
                .contact__form_right
                    label.contact__user_field-name Ваше имя
                    input(type="text" name="name").contact__input
            .contact__user_email.contact__form__field
                .contact__form_left 
                    +icon('envelope', 'contact__user_icon')
                .contact__form_right
                    label.contact__user_field-name Введите выш email
                    input(type="text" name="email").contact__input
            .contact__message.contact__form__field
                .contact__form_left.contact__form_left--message
                    +icon('message', 'contact__user_icon')
                .contact__form_right
                    label.contact__user_field-name Сообщение к письму
                    textarea(name="message").contact__input
        .button
            input(type="submit" value="Отправить").button__send

