section.hero
    #parallax-component
    .container.container__hero
        include header

        .scroll
            .scroll__title Скролл
            .scroll__icon
                +icon('scroll', 'arrow-down')