section.hero.parallax__layer
    .container.container__hero
        include header

        //- h1.hero-title.hero-title--tablet
        //-     .hero-title__info Личный сайт веб разработчика
        //-     .hero-title__name Сергей Дмитриев

        .scroll
            .scroll__title Скролл
            .scroll__icon
                +icon('scroll', 'arrow-down')