section.main

    include header

    .user
        .user__info Личный сайт веб разработчика
        h1.user__name Сергей Дмитриев
    .scroll
        .scroll__title Скролл
        .scroll__icon
            +icon('scroll', 'arrow-down')