section.main
    .parallax
        .parallax__heaven
        .parallax__mountain
        .parallax__train
        .parallax__field

    include header

    .user
        .user__info Личный сайт веб разработчика
        h1.user__name Сергей Дмитриев

    .scroll
        .scroll__title Скролл
        .scroll__icon
            +icon('scroll', 'arrow-down')