section.skills
    .container.container__skills
        .skills__right
            h2.title Чем я могу быть полезен вам
            .content.skills__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__block
                h3.title.title--small Workflow
                ul.skills-list
                    each skill in (['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js'])
                        li.skills-list__item
                            .skills-list__skill
                                svg(width="126" height="126" preserveAspectRatio="none").skills-list__level
                                    circle(r="60" cx="63" cy="63").skills-list__circle.skills-list__circle--under
                                    circle(r="59" cx="63" cy="63").skills-list__circle.skills-list__circle--above
                                .skills-list__name= skill
            .skills__block
                h3.title.title--small Workflow
                ul.skills-list
                    each skill in (['GIT', 'Terminal', 'Gulp', 'Webpack'])
                        li.skills-list__item
                            .skills-list__skill
                                svg(width="126" height="126" preserveAspectRatio="none").skills-list__level
                                    circle(r="60" cx="63" cy="63").skills-list__circle.skills-list__circle--under
                                    circle(r="59" cx="63" cy="63").skills-list__circle.skills-list__circle--above
                                .skills-list__name= skill
        .skills__left
            +image('bg/arms.png', 'skills__image')