section.skills
    h2.skills__title Чем я могу быть полезен вам
        .content
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis iste illo pariatur blanditiis architecto vel similique aperiam incidunt corporis quia?

        .skills__parts
            .skills__part
                h3.skills__part_title Front-end
                .skills__part_content
                    ul.scills__list
                        li.skills__item HTML5
                        li.skills__item CSS3
                        li.skills__item Javascript
                        li.skills__item Jquery и Vue.js
            h3.skills__part
                .skills__part_title Workflow
                .skills__part_content
                    ul.scills__list
                        li.skills__item Git
                        li.skills__item Terminal
                        li.skills__item Gulp
                        li.skills__item Webpack