include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
body
    .wrapper
        .maincontent
            //- +image('content/user.jpg', 'user-pic')
            //- +icon('link', 'link-class')
            //- .icon-bg
            //- include ./sections/header.pug
            include ./sections/main.pug
            include ./sections/about.pug
            include ./sections/skills.pug
            include ./sections/works.pug

            .wrapper-bottom
                .wrapper-bottom_left
                    include ./sections/reviews.pug
                    include ./sections/contact.pug
                .wrapper-bottom_right
                    +image('bg/leaf.png', 'wrapper-bottom_leaf')
    include ./sections/footer

