include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
body
    include ./templates/entry.pug
    include ./mixins

    #preloader-component
    .wrapper
        .maincontent
            section.hero#hero
                #parallax-component
                #hero-component
            section.about#about
                #about-component
            section.skills#skills
                #skills-component
            section.works#works
                #slider-container
            .wrapper-bottom
                .container.container__bottom#reviews
                    .wrapper-bottom__left
                        section.reviews
                            #reviews-component
                            #feedbacks-component
                        section.contact#contact
                            #message-component
                    .wrapper-bottom__right
                        #leafs-component
                        
            footer.footer
                #footer-component
